.Home{
  padding: 2rem;
  max-width: 100%;
}
.nav{
  padding: 3rem;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
}
.Introduction{
  max-width: 700px;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: bold;
  padding: 2rem;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.26);
}
.navbar{
  max-width: flex;
  padding: 2rem;
  text-align: right;
  font-size: 25px;
  font-weight: bold;}
.name{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}

.Projectsdec{
  max-width: 700px;
  margin-left: 30%;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: bold;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.397);
}
.Interestss{
  max-width: 1000px;
  margin-left: 20%;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: bold;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.397);
}
.project_box{
  color: black;
  max-width: fit-content;
  display: inline-grid;
  grid-template-columns: repeat(3, 600px);
  grid-template-rows: repeat(3, auto);
  text-align: center;
  font-size: large;
  font-weight: bold;
  padding: 2rem;
  gap: 8;
}
.Socials{
  width: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.644);
  border: 50px;
  border-color: aliceblue;
}
.image{
  border-radius: 100px;
  border-style: double;
  border-color: black;
  border-inline-width: 10px;
}
.button{
  padding: 1px 6px;
  border: 1px outset buttonborder;
  border-radius: 3px;
  color: black;
  background-color: whitesmoke;
  border-radius: 20px;
  border-color: rgb(0, 0, 0);
}
.Icons{
  gap: 20px;
  justify-content: center;
  display: flex;
  color: white;
  border-radius: 20px;
  border-color: rgb(0, 0, 0);
}